{% extends 'core/base.html' %}

{% block content %}
    {% if inbox.new_msg %}
        {% for msg in inbox.new_msg %}
            <ul>
                <li>
                    <p>
                        <b>
                            {{ msg }}
                        </b>
                        <a href="{% url 'core:message_detail' msg.id %}">  View</a>
                    </p>
                </li>
            </ul>
        {% endfor %}
    {% endif %}
    {% if inbox.reply %}
        {% for rpl in inbox.reply %}
            <form>
                <ul>
                    <li>
                        <p>
                            <b>{{ rpl }}
                            </b>
                            <a href="{% url 'core:message_detail' rpl.message.id %}">  View</a>
                        </p>
                    </li>
                </ul>
            </form>
        {% endfor %}
    {% endif %}
{% endblock %}
