{% extends 'core/base.html' %}

{% block content %}
        {% for msg in new_msg %}
            <ul>
                <li>
                    <p>
                        <b>
                            {{ msg }}
                        </b>
                        <a href="{% url 'core:message_detail' msg.id %}">  View</a>
                    </p>
                </li>
            </ul>
        {% endfor %}
        {% for rpl in reply %}
            <form>
                <ul>
                    <li>
                        <p>
                            <b>{{ rpl }}
                            </b>
                            <a href="{% url 'core:message_detail' rpl.message.id %}">  View</a>
                        </p>
                    </li>
                </ul>
            </form>
        {% endfor %}
{% endblock %}
