{% extends 'core/base.html' %}

{% block content %}
  {% if message %}
      <table class="table">
      <thead>
        <tr>
          <th scope="col">Requester</th>
          <th scope="col">Created</th>
          <th scope="col">Start Day</th>
          <th scope="col">End Day</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ message.sender }}</td>
          <td>{{ message.created }}</td>
          <td>{{ message.start }}</td>
          <td>{{ message.end }}</td>
        </tr>
      </tbody>
    </table>
    <br>
    <label>Description</label>
    <textarea class="col-md-12" rows="4" readonly>
    {{ message.description }}
    </textarea>
    <br>
    <form method="post" action="{% url 'core:reply' message.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Submit">
    </form>
  {% endif %}

  {% if reply %}
      <table class="table">
      <thead>
        <tr>
          <th scope="col">Requester</th>
          <th scope="col">Created</th>
          <th scope="col">Start Day</th>
          <th scope="col">End Day</th>
          <th scope="col">ID</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ reply.message.sender }}</td>
          <td>{{ reply.message.created }}</td>
          <td>{{ reply.message.start }}</td>
          <td>{{ reply.message.end }}</td>
          <td>{{ reply.message.id }}</td>
        </tr>
      </tbody>
    </table>
    <br>
    <label>Description</label>
    <textarea class="col-md-12" rows="4" readonly>
    {{ reply.message.description }}
    </textarea>
      <br>
      <hr>
      <p>
        Manager choice is:
        <b>{{ reply.manager_choice }}</b>
      </p>
      <br>
      <hr>
    <form method="post" id="reply" action="{% url 'core:done_message_status' id=reply.id %}">
        {% csrf_token %}
        <button type="submit" form="reply" value="Finish">Finish</button>
    </form>

  {% endif %}
{% endblock %}