<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        h2 {
           text-align: center;
            margin-top: 220px;
        }
        form{
            text-align: center;
            ;
        }
    </style>
</head>
<body>
        <div>
            <h2>
                Welcome to Login page
            </h2>
        </div>
        <div style="margin-top: 20px;">
            <form method="post" action="{% url 'accounts:login' %}">
                {% csrf_token %}
                 {{ form.as_p }}
                <input type="submit" value="Submit">
            </form>
        </div>
</body>
</html>

