{% extends 'core/base.html' %}

{% block content %}
    <div style="margin-top: 20px;">
    {% for msg in messages %}
        <p>
            Your message sent to: <b>{{ msg.receiver}}</b>
            <a href="{% url 'core:message_detail' msg.id %}">  View</a>
        </p>
    {% endfor %}
    {% for rpl in replies %}
        <p>
            Your message sent to: <b>{{ rpl.message.sender }}</b>
            <a href="{% url 'core:message_detail' rpl.message.id %}">  View</a>
        </p>
    {% endfor %}
    </div>
{% endblock %}
